:root {
  --background: #cfe4e5;
  --font: #222;
  --screen: #3c4654;
  --calculator: #414a57;
  --display-font: #fff;
  --digit-font: #fff;
  --operator-font: #6e7882;
  --red-font: #e7715d;
  --btn: #394351;
  --btn-hover: #293341;
  --btn-active: #192331;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  background-color: var(--btn);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.digit {
  color: var(--digit-font);
  font-size: 25px;
  aspect-ratio: 1;
}

.operator {
  color: var(--operator-font);
  font-weight: 200;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  aspect-ratio: 1;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  border: 1px var(--calculator) solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--calculator);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.display {
  padding: 10px 20px;
  background-color: var(--screen);
  color: var(--display-font);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 64px;
  font-size: 40px;
  font-weight: 200;
  font-family: "Roboto Mono", monospace;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}

.clear,
.backspace {
  grid-column: span 2;
  color: var(--red-font);
  background-color: var(--btn);
  font-size: 20px;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--btn-hover);
  }
}

button:active {
  background-color: var(--btn-active);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 300;
  margin-top: auto;
}
